<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>icon</string>
	<key>CFBundleDisplayName</key>
	<string>KPrompter</string>
	<key>CFBundleExecutable</key>
	<string>KPrompter</string>
	<key>CFBundleIdentifier</key>
	<string>com.ktorres.kprompter</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>KPrompter</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2.0</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>LSUIElement</key>
	<false/>
	<key>NSAppleEventsUsageDescription</key>
	<string>KPrompter needs Apple Events access to copy and paste text on your behalf.</string>
	<key>NSAccessibilityUsageDescription</key>
	<string>KPrompter needs Accessibility access to listen for your hotkey globally.</string>
</dict>
</plist>
